$mqs: (
  small-mobile: 460 / 16 * 1rem,
  almost-mobile: 570 / 16 * 1rem,
  mobile: 767 / 16 * 1rem,
  tablet: 1024 / 16 * 1rem,
  small-desktop: 1280 / 16 * 1rem,
  medium-desktop: 1440 / 16 * 1rem,
  desktop: 1500 / 16 * 1rem,
);

@mixin smaller-than($size) {
  $width: #{map-get($mqs, $size)};
  @media (max-width: $width) {
    @content;
  }
}

@mixin larger-than($size) {
  $width: #{map-get($mqs, $size)};
  @media (min-width: $width) {
    @content;
  }
}

@mixin between($min, $max) {
  $minwidth: #{map-get($mqs, $min)};
  $maxwidth: #{map-get($mqs, $max)};
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

