$base-font-size: 16;
$body-padding: 4rem;
$desktop-nav-height: 10.3125rem;
$desktop-mobile-height: 7.5rem;
$desktop-padding: 2.375rem;
$mobile-padding: 1.25rem;
$container-max-width: 86rem;
$view-container-desktop-padding: 3.75rem;
$timing: 225ms;
$timing--slow: 350ms;
$default-border-radius: 0.6875rem;
$form-row-desktop-height: 4rem;
$input-width--small: 4.5rem;
$input-width--smedium: 6rem;
$input-width--medium: 9.375rem;
$input-width--large: 12rem;
$input-width--xlarge: 20.9375rem;
$input-width--xxlarge: 25.75rem;
$default-section-spacing: 1.25rem;
