$color-base: black;
$main-text: white;
$alternate-text: #919191;
$background-main: $color-base;
$background-alternate: #212124;
$background-modal-color: #29292D;
$button-inactive: #3B3B3F;
$border-color: $alternate-text;
$border-color-alternate: $button-inactive;
$border-color-alternate-2: #3B3B3B;

$accent-color-1: #624CDA;
$accent-color-2: #7FE6D4;
$accent-color-3: #70B0FF;
$accent-color-4: #FD7171;
$accent-color-5: #533EC2;
